# Imports

In [1]:
import pandas as pd 
import sqlalchemy 
import os
from sqlalchemy import inspect, select, func, MetaData
from sqlalchemy.sql import text
#from eralchemy import render_er
from sqlalchemy.ext.declarative import declarative_base

# Login

In [4]:
password = ""
# connect to the database 
db1 = sqlalchemy.create_engine(r"")
db2 = sqlalchemy.create_engine(r"")

# Test connection

In [9]:
#run a query on the database, and retrieve the result as a Pandas data frame 
tbl = pd.read_sql("SELECT TOP(100) * FROM Eventi;",db1) 
#print(tbl)

In [10]:
print(tbl)

    IdEvento SN_Manuale SN_Gestito         DataInserimento     NomeCentralina  \
0   10773681          N          S 2019-05-02 00:01:50.900           CORN0279
1   10773682          N          S 2019-05-02 00:05:47.600           CAVI0208
2   10773683          S          S 2019-05-02 00:05:51.583           SAGG0105
3   10773684          N          S 2019-05-02 00:09:19.557           SPIN0115
4   10773685          N          S 2019-05-02 00:11:59.780  ifresidencecamper
..       ...        ...        ...                     ...                ...
95  10773776          S          S 2019-05-02 02:45:38.733           VERCT960
96  10773777          N          S 2019-05-02 02:45:42.823           AUTO0624
97  10773778          S          S 2019-05-02 02:45:48.330           AZZA0262
98  10773779          N          S 2019-05-02 02:47:36.883           DEMA0205
99  10773780          N          S 2019-05-02 02:51:52.323       IFBORGARELLO

    IdUtente            DataChiusura  IdCausaEvento  IdAzione  IdNota  \
0      155.0 2019-05-02 00:05:30.190              1       5.0       5
1      155.0 2019-05-02 00:06:41.830              1       5.0       5
2      155.0 2019-05-02 00:08:30.863              1       6.0       5
3      155.0 2019-05-02 00:10:09.983              1       1.0       5
4      136.0 2019-05-02 00:13:47.220              1       9.0       5
..       ...                     ...            ...       ...     ...
95     155.0 2019-05-02 02:48:45.187              1       1.0       5
96       NaN 2019-05-02 02:46:05.260              1       NaN       4
97       3.0 2019-05-02 02:48:41.910              1       3.0       5
98       3.0 2019-05-02 02:48:24.133              3      12.0   29065
99     136.0 2019-05-02 03:06:18.697              1       9.0  406661

    IdUtenteLast       DataPresaInCarico SN_Movimento
0            NaN 2019-05-02 00:01:59.133            S
1            NaN 2019-05-02 00:06:07.360         None
2            NaN                     NaT         None
3            NaN 2019-05-02 00:09:24.330         None
4            NaN 2019-05-02 00:12:15.520         None
..           ...                     ...          ...
95           NaN 2019-05-02 02:46:03.563         None
96           NaN                     NaT         None
97           NaN                     NaT         None
98           NaN 2019-05-02 02:47:41.283            S
99           NaN 2019-05-02 02:52:01.760         None

[100 rows x 13 columns]

In [7]:
tbl2 = pd.read_sql("SELECT TOP(100) * FROM Mezzi;",db2)

In [8]:
print(tbl2)

                                      Id         IdMptx  IdCentralina  \
0   bd1d9539-41e9-e611-80bc-0050569357e4  RIMO_FITT1928           NaN
1   a55926aa-43e9-e611-80bc-0050569357e4  RIMO_FITT1929           NaN
2   2cd35dbc-43e9-e611-80bc-0050569357e4  RIMO_FITT1930           NaN
3   db5084ce-43e9-e611-80bc-0050569357e4  RIMO_FITT1931           NaN
4   f9184b03-44e9-e611-80bc-0050569357e4  RIMO_FITT1932           NaN
..                                   ...            ...           ...
95  0ac9e487-14ee-e611-80bc-0050569357e4       CORN0278       37837.0
96  13075d84-1bee-e611-80bc-0050569357e4     EPMUTTI566       44062.0
97  2f3d8c21-1cee-e611-80bc-0050569357e4    EPMUTTIS255       44070.0
98  150ce210-a4ee-e611-80bc-0050569357e4     EPMUTTI573       44063.0
99  4ceed136-aaee-e611-80bc-0050569357e4     ELMOLLO001       44842.0

               IMEI Targa   VIN Descrizione  IdCategoriaMezzo  EnumMezzoStato  \
0              None  None  None        None                 3               0
1              None  None  None        None                 3               0
2              None  None  None        None                 3               0
3              None  None  None        None                 3               0
4              None  None  None        None                 3               0
..              ...   ...   ...         ...               ...             ...
95  354888043827823  None  None        None                 1               0
96             None  None  None        None                 8               4
97  352108075855549  None  None        None                 8               0
98  352108075855168  None  None        None                 8               0
99             None  None  None        None               101               4

    EnumCentralinaBrand  ...  NCelleFrigo BoolCarburante  \
0                     0  ...            0              0
1                     0  ...            0              0
2                     0  ...            0              0
3                     0  ...            0              0
4                     0  ...            0              0
..                  ...  ...          ...            ...
95                    2  ...            0              0
96                   11  ...            0              0
97                   11  ...            0              0
98                   11  ...            0              0
99                    7  ...            0              0

   SensoriDigitaliMaschera SensoriAnalogiciMaschera BoolFms  BoolDisplay  \
0                      NaN                      NaN       0            0
1                      NaN                      NaN       0            0
2                      NaN                      NaN       0            0
3                      NaN                      NaN       0            0
4                      NaN                      NaN       0            0
..                     ...                      ...     ...          ...
95                     NaN                      NaN       0            0
96                     1.0                      0.0       1            0
97                     1.0                      0.0       0            0
98                     1.0                      0.0       1            0
99                     NaN                      NaN       0            0

    FirmwareVersion  SerialeMultimedia  BoolPannelliSolari  BoolFittizio
0              None               None                None             1
1              None               None                None             1
2              None               None                None             1
3              None               None                None             1
4              None               None                None             1
..              ...                ...                 ...           ...
95             None        201504-7354                None             0
96            1401N        201612-9197                None             0
97            1401N        201612-9195                None             0
98            1401N        201612-9203                None             0
99             None               None                None             0

[100 rows x 30 columns]

# Get DB Structure

In [ ]:
def getTablesWithColumns(db):
    inspector = inspect(db)
    schemas = inspector.get_schema_names()
    for table_name in inspector.get_table_names():
        print("Table: " + table_name)
        for column in inspector.get_columns(table_name):
            print("%s" % column['name'])
        print("\n")

## DB1

In [ ]:
getTablesWithColumns(db1)

## DB2

In [ ]:
getTablesWithColumns(db2)

## Count rows per table

In [ ]:
render_er(r"mssql+pymssql:", 'db1.pdf')

In [ ]:
render_er(r"mssql+pymssql:", 'db2.pdf')

## Enums

In [ ]:
pd.read_sql("SELECT DISTINCT CausaEvento FROM T_CauseEvento;",dbcentrale)

In [ ]:
pd.read_sql("SELECT DISTINCT Azione FROM T_Azioni;",dbcentrale)

In [ ]:
pd.read_sql("SELECT DISTINCT TOP(100) IDMessage FROM AlarmFlatArchivio;",dbcentrale)

In [16]:
pd.read_sql("SELECT Nota FROM EventiGestiti e, Note n WHERE IdCausaEvento = 0 AND e.IdNota = n.IdNota AND Nota != NULL;",dbcentrale)

Empty DataFrame
Columns: [Nota]
Index: []

In [15]:
pd.read_sql("SELECT TOP(100) * FROM EventiGestiti e, Note n WHERE e.IdNota=n.IdNota And Nota != NULL;",dbcentrale)

Empty DataFrame
Columns: [IdEvento, SN_Manuale, SN_Gestito, DataInserimento, NomeCentralina, IdUtente, DataChiusura, IdCausaEvento, IdAzione, IdNota, IdUtenteLast, DataPresaInCarico, SN_Movimento, IdNota, SN_NotaAuto, Importanza, Nota]
Index: []

In [16]:
pd.read_sql("SELECT TOP(100) * FROM Note WHERE Nota != NULL;",dbcentrale)

Empty DataFrame
Columns: [IdNota, SN_NotaAuto, Importanza, Nota]
Index: []

In [22]:
pd.read_sql("SELECT TOP(100) * FROM EventiGestiti WHERE IdCausaEvento = 1;",dbcentrale)

,IdEvento,SN_Manuale,SN_Gestito,DataInserimento,NomeCentralina,IdUtente,DataChiusura,IdCausaEvento,IdAzione,IdNota,IdUtenteLast,DataPresaInCarico,SN_Movimento
0,1,N,S,2009-06-29 09:30:52.583,TRAP8002,15,2009-06-29 09:40:00,1,7,5,None,None,None
1,2,N,S,2009-06-29 09:30:55.543,VERCR072,6,2009-06-29 09:37:00,1,2,151,None,None,None
2,3,N,S,2009-06-29 09:31:54.990,DECE0200,6,2009-06-29 09:53:00,1,5,160,None,None,None
3,4,N,S,2009-06-29 09:32:07.043,PARISI8088,15,2009-06-29 09:37:00,1,5,5,None,None,None
4,5,N,S,2009-06-29 09:32:42.493,TABA0154,6,2009-06-29 09:56:00,1,1,5,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,100,N,S,2009-06-29 10:05:32.983,TESE0111,21,2009-06-29 10:24:00,1,2,5,None,None,None
96,101,N,S,2009-06-29 10:06:08.317,NELM0106,21,2009-06-29 10:07:00,1,2,5,None,None,None
97,102,N,S,2009-06-29 10:06:20.353,TIET0275,6,2009-06-29 10:19:00,1,5,5,None,None,None
98,103,N,S,2009-06-29 10:06:32.293,TIET0106,6,2009-06-29 10:11:00,1,5,5,None,None,None
99,104,N,S,2009-06-29 10:06:32.357,VERCR112,6,2009-06-29 10:11:00,1,5,5,None,None,None

In [ ]:
pd.read_sql("SELECT * FROM Eventi", dbcentrale).to_csv("eventi.csv")

In [ ]:
pd.read_sql("SELECT * FROM EventiGestiti", dbcentrale).to_csv("eventi_gestiti.csv")