In [1]:
import pandas as pd 
import sqlalchemy 
import os
from sqlalchemy import inspect, select, func, MetaData
from sqlalchemy.sql import text
from sqlalchemy.ext.declarative import declarative_base
import time

In [2]:
password = ""
newweb = sqlalchemy.create_engine(r"mssql+pymssql:")

In [3]:
tbl = pd.read_sql("SELECT TOP(100) * FROM Punti;",newweb)

In [1]:
tbl

NameError: name 'tbl' is not defined

In [2]:
len(tbl["IdMezzo"].unique())

NameError: name 'tbl' is not defined

In [3]:
mezzi = tbl["IdMezzo"].unique()

NameError: name 'tbl' is not defined

In [4]:
start = time.time()
dfs_mezzi = []
for el in mezzi:
    dfs_mezzi.append(pd.read_sql("SELECT IdMezzo, DataOraAcquisizione, Latitudine, Longitudine FROM Punti WHERE IdMezzo='"+ str(el) + "' ORDER BY DataOraAcquisizione ASC;",newweb).dropna(subset=['DataOraAcquisizione']))
end = time.time()

NameError: name 'time' is not defined

In [5]:
(end-start)/60

NameError: name 'end' is not defined

start = time.time()
dfs_mezzi = []
df = pd.read_sql("SELECT IdMezzo, DataOraAcquisizione, Latitudine, Longitudine FROM Punti;",newweb)
end = time.time()

df = df.dropna(subset=['DataOraAcquisizione'])

df.to_csv("percorsoMezzi.csv")

In [9]:
my_df = pd.concat(dfs_mezzi)

In [ ]:
my_df.to_csv("percorsoMezzi.csv")